node_modules/
.env
.playwright/
playwright-report/
allure-results/
test-results/
.vscode/
dist/
coverage/
npm-debug.log
yarn-error.log
node_modules/
playwright-report/
test-results/
allure-results/
allure-report/
.env
dist/
coverage/
npm-debug.log*
debug.log
.DS_Store
Thumbs.db
